[submodule "Platypus"]
	path = Platypus
	url = https://github.com/Project-Platypus/Platypus.git
[submodule "detector-placement-module"]
	path = detector-placement-module
	url = git@github.com:russelldj/detector-placement-module.git
